
<launch>
	<param name="robot_description_full" command="cat $(find nimbro_op_model)/robots/nimbro_op.xml" />

	<node name="tw" pkg="timewarp" type="timewarp">
	</node>

	<param name="/vis/use_sim_time" value="true" />

	<env name="ROS_NAMESPACE" value="vis" />
	<env name="ROS_ARGUMENTS" value="/tf:=/vis/tf /use_sim_time:=/vis/use_sim_time /clock:=/vis/clock /joint_states:=/vis/joint_states /visualization_marker_array:=/vis/visualization_marker_array" />

	<node name="rqt" pkg="rqt_gui" type="rqt_gui" required="true" respawn="false" output="screen">
	</node>
</launch>

